<div id="for_mes">{% include "message.html" %}</div>
<form id="FormaAjax" name="cont_f" action="#contacts" class="container_6" method="post">{% csrf_token %}
	<div class="grid_2 alpha {% if form.name.errors %} error {% endif %}">
		<label for="id_name">Имя:<span class="red f_right">{{ form.name.errors }}</span></label>
		{{ form.name }}
	</div>
	<div class="grid_2 {% if form.email.errors %} error {% endif %}">
		<label for="id_email">Email:<span class="red f_right">{{ form.email.errors }}</span></label>
		{{ form.email }}
	</div>
	<div class="grid_2 {% if form.phone.errors %} error {% endif %}">
		<label for="id_phone">Телефон:<span class="red f_right">{{ form.phone.errors }}</span></label>
		{{ form.phone }}
	</div>
	<div class="{% if form.text.errors %} error {% endif %}">
		<label for="id_text">Сообщение:<span class="red f_right">{{ form.errors.text }}</span></label>
		{{ form.text }}
	</div>
	<input id="but_form" type="submit" value="Отправить" class="button f_left"><div class="f_left loader" style="display:none"><img src="{{ MEDIA_URL }}img/load.gif"></img></div>
</form>


<script>
	function errors(data,name){
		if (data[name]){
			$('#id_'+name).addClass('error');
			$('#id_'+name).prev('label').children('.red').html(data[name][0]);
		}else{
			$('#id_'+name).removeClass('error');
			$('#id_'+name).prev('label').children('.red').html('');
		};
	}
	var frm = $('#FormaAjax');
    frm.submit(function () {
        $.ajax({
            type: 'POST',
            url: '/get_contacts_ajax/',
            data: frm.serialize(),
			dataType: 'json',
			beforeSend: function() {
				 $('.loader').show();
			  },
			  complete: function(){
				 $('.loader').hide();
			  },
            success: function (data) {
				$("#for_mes").html('');
				window.location.hash = 'contacts';
				act_url();
				if (data!=1){
					errors(data, 'name');
					errors(data, 'email');
					errors(data, 'phone');
					errors(data, 'text');
				}else{
					document.forms["cont_f"].reset();
					$("#FormaAjax .red").each(function(indx, element){
						$(this).html('');
					});
					$("#FormaAjax .error").each(function(indx, element){
						$(this).removeClass('error');
					});
					$("#for_mes").html('<div id="contact_alert"><ul><li><strong>Спасибо. Сообщение отправлено.</strong></li></ul></div>');
				}
            }
        });

        return false;
    });

</script>